**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

.DS_Store

app/js/**

*.pyc
api/rainbowss/*.jpg
api/rainbowss/*.png

WP/wordpress/wp-content/themes/**
WP/wordpress/wp-content/upgrade/**
WP/wordpress/wp-content/uploads/**
WP/wordpress/stuff
WP/wordpress/*.php