**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

.DS_Store

app/js/**

*.pyc
api/rainbowss/*.jpg
api/rainbowss/*.png

WP/wordpress/wp-content/themes/**

app/css/modal.html

app/modalcontent.html
