/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.injected-frame {
  border: none;
  width: 100%;
  height: 595px;
}

h3.ng-binding{
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1em;
}

/*boostrap conflict*/

.colorpicker_field input, textarea, select, .uneditable-input {
  width: 30px;
}
.colorpicker_field input:focus{
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}