/* NSQUARED STYLE 
created by Jane Kim for nRelate 2012
*/

/* Common */

.nrelate_nsquared {
  width: 100%;
}

.nrelate_nsquared h3 {
  margin: 0 !important;
}

.nrelate_nsquared a {
  color: #fff;
  text-decoration: none !important;
}

.nrelate_nsquared img {
  max-width: 100%;
}

/* Panel */

.nrelate_nsquared .nr_panel {
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.nrelate_nsquared .nr_panel:hover {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}

/* Thumbnail */

.nrelate_nsquared .nr_img_div {
  background: transparent;
  background-color: transparent;
  border: 0;
  display: block;
  line-height: 0;
  padding: 0;
  position: relative;
}

.nrelate_nsquared .nr_img {
  background: transparent;
  border: 0;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -khtml-box-shadow: none !important;
  box-shadow: none !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  outline: 0;
  padding: 0;
  visibility: visible !important;
  width: auto !important;
  z-index: auto !important;
}

.nrelate_nsquared .nr_panel .nr_text {
  bottom: 10px;
  color: #fff;
  padding: 4px;
}

.nrelate_nsquared .nr_text {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
  /* RGBa */
  background: rgba(0, 0, 0, 0.75);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)";
  clear: left;
  color: #fff;
  display: block;
  float: left;
  font: bold sans-serif;
  overflow: hidden;
  position: absolute;
  text-align:left;
  word-wrap: break-word;  
}

.nrelate_nsquared .nr_title {
  color: #fff;
  float: left;
  margin: 0 0 5px 0;
}

.nrelate_nsquared .nr_excerpt {
    font-size:11px;
    line-height: 108%;
    font-weight: normal;
    color: #fff;
}

.nrelate_nsquared .nr_post_title,
.nrelate_nsquared .nr_source,
.nrelate_nsquared .nr_excerpt {
  display: block;
}

.nrelate_nsquared .nr_panel:hover .nr_text {
  -webkit-transition: all 0.2s linear .3s; 
  -moz-transition: all 0.2s linear .3s; 
  -o-transition: all 0.2s linear .3s;
  -ms-transition: all 0.2s linear .3s;
  transition: all 0.2s linear .3s;
}

/* Sponsored posts */
.nrelate_nsquared .nr_sponsored_wrap {
  display: block;
  height: 18px;
  left: 0;
  overflow: hidden;
  position: absolute;
}

.nrelate_nsquared  a.nr_panel:hover .nr_sponsored_wrap{
  left: 0;
}

.nrelate_nsquared .nr_source {
  font: italic 11px;
}

/* 150PX */
.nrelate_nsquared .nr_150 .nr_inner a {
  height: 150px !important;
}
.nrelate_nsquared .nr_150 .nr_panel {
  width: 150px;
}
.nrelate_nsquared .nr_150 .nr_panel .nr_sponsored_wrap {
  width : 150px; top:132px;
}
.nrelate_nsquared .nr_150 .nr_panel .nr_sponsored {
  left : 132px; 
}
.nrelate_nsquared .nr_150 .nr_text {
  bottom: 10px;
  height: 142px; 
  width: 142px;
}
.nrelate_nsquared .nr_150 .nr_panel .nr_text {
  font: 18px/12px;
  height:38px; 
  width:142px; ; 
}
.nrelate_nsquared .nr_150 .nr_panel:hover .nr_text {
  height: 142px;
  width: 142px; 
}

/* 175px thumbnails */
.nrelate_nsquared .nr_175 .nr_inner a {
  height: 175px !important;
}
.nrelate_nsquared .nr_175 .nr_panel {
  width: 175px;
}
.nrelate_nsquared .nr_175 .nr_panel .nr_sponsored_wrap {
  width : 175px; top:157px;
}
.nrelate_nsquared .nr_175 .nr_panel .nr_sponsored {
  left : 157px; 
}
.nrelate_nsquared .nr_175 .nr_text {
  bottom: 10px;
  height: 167px; 
  width: 167px;
}
.nrelate_nsquared .nr_175 .nr_panel .nr_text {
  font: 20px/16px;
  height:38px; 
  width:167px; ; 
}
.nrelate_nsquared .nr_175 .nr_panel:hover .nr_text {
  height: 167px;
  width: 167px; 
}

/* 200px thumbnails */
.nrelate_nsquared .nr_200 .nr_inner a {
  height: 200px !important;
}
.nrelate_nsquared .nr_200 .nr_panel {
  width: 200px;
}
.nrelate_nsquared .nr_200 .nr_panel .nr_sponsored_wrap {
  width : 200px; top:182px;
}
.nrelate_nsquared .nr_200 .nr_panel .nr_sponsored {
  left : 182px; 
}
.nrelate_nsquared .nr_200 .nr_text {
  bottom: 10px;
  height: 192px; 
  width: 192px;
}
.nrelate_nsquared .nr_200 .nr_panel .nr_text {
  font: 20px/16px;
  height:38px; 
  width:192px; ; 
}
.nrelate_nsquared .nr_200 .nr_panel:hover .nr_text {
  height: 192px;
  width: 192px; 
}
