/* NRELATE CHANGE BACK TO TIL */

.nrelate_tiles a {
	text-decoration:none !important;
	color: white;
}
.nrelate_tiles img {
	max-width:100%;
}
.nrelate_tiles .nr_inner {
	clear:both;
	width:100%;
	padding:4px 0;
}
.nrelate_tiles .nr_inner ul {
	margin-bottom:0 !important;
}
.nrelate_tiles .nr_panel .nr_text {
	line-height: 130%;
	padding: 4px;
	color: white;
	font-size: 18px;
}

.nrelate_tiles .nr_panel {
	float:left;
	background:none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	display:block;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
.nrelate_tiles .nr_panel:hover {
	background:transparent;
	border:0px;
	margin:0px;
	padding:0px;
	text-decoration:none;
	color: white;
}
.nrelate_tiles .nr_title {
	float:left;
	font-size:20px;
	margin-top:0;
	margin-bottom:5px;
}
.nrelate_tiles .nr_img_div {
	display:block;
	line-height:0;
	position:absolute;
	background: transparent;
	background-color:transparent;
	border: 0px;
}
.nrelate_tiles .nr_img {
	border: none;
	display:block;
	margin-left:auto !important;
	margin-right:auto !important;
	padding: 0px;
	background:transparent;
	border-top: 0px;
	outline: 0px;
	width:auto !important;
	z-index:auto !important;
	visibility:visible !important;
}
.nrelate_tiles .nr_img_div img {
	border: 0px;
	margin:0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-khtml-box-shadow: none !important;
	box-shadow: none !important;
}
.nrelate_tiles .nr_panel:hover .nr_img {
	background:transparent;
	border:0px;
	outline:0px;
}
.nr_excerpt {
    font-size:11px;
    line-height: 108%;
    font-weight: normal;
}
.nrelate_tiles .nr_text {
	display: none;
}

.nrelate_tiles .nr_post_title,
.nrelate_tiles .nr_source,
.nrelate_tiles .nr_excerpt {
	display:block;
}
.nrelate_tiles .nr_panel:hover .nr_text {
	overflow: hidden;
	word-wrap:break-word;
	clear:left;
	float:left;
	font-family:sans-serif;
	font-weight:bold;
	text-align:left;
	display: block;
	color: white;

	position:absolute;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0) transparent;
	/* RGBa */
	background: rgba(0, 0, 0, 0.75);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)";
}

/* Sponsored posts */
.nrelate_tiles .nr_sponsored_wrap {
	display:block;
	height:18px;
	position:absolute;
	left:0px;
	overflow:hidden;
}
.nrelate_tiles  a.nr_panel:hover .nr_sponsored_wrap{
	left:0px;
}
.nr_source {
	font-size: 11px !important;
	font-style: italic;
}

/* settings for each thumbnail size supported in plugin */
.nrelate_tiles.nr_80 .nr_inner a{ height: 80px !important; }
.nrelate_tiles.nr_80 .nr_panel{ width : 80px; }
.nrelate_tiles.nr_80 .nr_panel .nr_sponsored_wrap{ width : 80px; top : 62px; }
.nrelate_tiles.nr_80 .nr_panel .nr_sponsored{ left : 62px; }
.nrelate_tiles.nr_80 .nr_text{ top:0px; width:84px; }
.nrelate_tiles.nr_80 .nr_panel:hover .nr_text { width:72px; height:72px; font-size: 11px;}

.nrelate_tiles.nr_90 .nr_inner a{ height: 90px !important; }
.nrelate_tiles.nr_90 .nr_panel{ width : 90px; }
.nrelate_tiles.nr_90 .nr_panel .nr_sponsored_wrap{ width : 90px; top : 72px; }
.nrelate_tiles.nr_90 .nr_panel .nr_sponsored{ left : 72px; }
.nrelate_tiles.nr_90 .nr_text{ top:0px; width:94px; }
.nrelate_tiles.nr_90 .nr_panel:hover .nr_text { width:82px; height:82px;font-size: 12px;}

.nrelate_tiles.nr_100 .nr_inner a{ height: 100px !important; }
.nrelate_tiles.nr_100 .nr_panel{ width : 100px; }
.nrelate_tiles.nr_100 .nr_panel .nr_sponsored_wrap{ width : 100px; top : 82px; }
.nrelate_tiles.nr_100 .nr_panel .nr_sponsored{ left : 82px; }
.nrelate_tiles.nr_100 .nr_text{ top:0px; width:104px; }
.nrelate_tiles.nr_100 .nr_panel:hover .nr_text { width:92px; height:92px; font-size: 13px;}

.nrelate_tiles.nr_110 .nr_inner a{ height: 110px !important; }
.nrelate_tiles.nr_110 .nr_panel,
.nrelate_tiles.nr_ .nr_panel{ width: 110px; }
.nrelate_tiles.nr_110 .nr_panel .nr_sponsored_wrap,
.nrelate_tiles.nr_ .nr_panel .nr_sponsored_wrap{ width : 110px; top : 92px; }
.nrelate_tiles.nr_110 .nr_panel .nr_sponsored,
.nrelate_tiles.nr_ .nr_panel .nr_sponsored{ left : 92px; }
.nrelate_tiles.nr_110 .nr_text,
.nrelate_tiles.nr_ .nr_text{ top:0px; width:114px; }
.nrelate_tiles.nr_110 .nr_panel:hover .nr_text { width:102px; height:102px; font-size: 14px;}

.nrelate_tiles.nr_120 .nr_inner a{ height: 120px !important; }
.nrelate_tiles.nr_120 .nr_panel{ width : 120px; }
.nrelate_tiles.nr_120 .nr_panel .nr_sponsored_wrap{ width : 120px; top : 102px; }
.nrelate_tiles.nr_120 .nr_panel .nr_sponsored{ left : 102px; }
.nrelate_tiles.nr_120 .nr_text{ top:0px; width:124px; }
.nrelate_tiles.nr_120 .nr_panel:hover .nr_text { width:112px; height:112px;font-size: 16px;}

.nrelate_tiles.nr_130 .nr_inner a{ height: 130px !important; }
.nrelate_tiles.nr_130 .nr_panel{ width : 130px; }
.nrelate_tiles.nr_130 .nr_panel .nr_sponsored_wrap{ width : 130px; top : 112px; }
.nrelate_tiles.nr_130 .nr_panel .nr_sponsored{ left : 112px; }
.nrelate_tiles.nr_130 .nr_text{ top:0px; width:134px; }
.nrelate_tiles.nr_130 .nr_panel:hover .nr_text { width:122px; height:122px; font-size: 17px;}

.nrelate_tiles.nr_140 .nr_inner a{ height: 140px !important; }
.nrelate_tiles.nr_140 .nr_panel{ width : 140px; }
.nrelate_tiles.nr_140 .nr_panel .nr_sponsored_wrap{ width : 140px; top : 122px; }
.nrelate_tiles.nr_140 .nr_panel .nr_sponsored{ left : 122px; }
.nrelate_tiles.nr_140 .nr_text{ top: 0px; width:144px; }
.nrelate_tiles.nr_140 .nr_panel:hover .nr_text { width:132px; height:132px;font-size: 18px;}

.nrelate_tiles.nr_150 .nr_inner a{ height: 150px !important; }
.nrelate_tiles.nr_150 .nr_panel{ width: 150px; }
.nrelate_tiles.nr_150 .nr_panel .nr_sponsored_wrap{ width : 150px; top:132px; }
.nrelate_tiles.nr_150 .nr_panel .nr_sponsored{ left : 132px; }
.nrelate_tiles.nr_150 .nr_text{ top: 0px; width: 142px; height:  142px;}
.nrelate_tiles.nr_150 .nr_panel:hover .nr_text { width:142px; height:142px;font-size: 19px;}