/* TILES STYLE 
created by Jane Kim for nRelate 2012
*/

.nrelate_tiles a {
  color: #fff;
  text-decoration: none !important;
}

.nrelate_tiles img {
  max-width: 100%;
}

.nrelate_tiles .nr_inner {
  clear: both;
  padding: 4px 0;
  width: 100%;
}

.nrelate_tiles .nr_inner ul {
  margin: 0;
}

.nrelate_tiles .nr_panel .nr_text {
  color: #fff;
  font-size: 18px;
  line-height: 130%;
  padding: 4px;
}

.nrelate_tiles .nr_panel {
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  float:left;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.nrelate_tiles .nr_panel:hover {
  background: transparent;
  border: 0;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration:none;
}

.nrelate_tiles .nr_title {
  float: left;
  font-size: 20px;
  margin: 0 0 5px 0;
}

.nrelate_tiles .nr_img_div {
  /*background: transparent;*/
  background-color: transparent;
  border: 0;
  display: block;
  line-height: 0;
  position: absolute;
}

.nrelate_tiles .nr_img {
  background: transparent;
  border: 0;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  outline: 0;
  padding: 0;
  visibility:visible !important;
  width: auto !important;
  z-index: auto !important;
}

.nrelate_tiles .nr_img_div img {
  border: 0;
  margin: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -khtml-box-shadow: none !important;
  box-shadow: none !important;
}

.nrelate_tiles .nr_panel:hover .nr_img {
  background: transparent;
  border: 0;
  outline: 0;
}

.nr_excerpt {
  font-size: 11px;
  line-height: 108%;
  font-weight: normal;
}

.nrelate_tiles .nr_text {
  display: none;
}

.nrelate_tiles .nr_post_title,
.nrelate_tiles .nr_source,
.nrelate_tiles .nr_excerpt {
  display: block;
}

.nrelate_tiles .nr_panel:hover .nr_text {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
  /* RGBa */
  background: rgba(0, 0, 0, 0.75);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)";
  clear: left;
  color: #fff;
  display: block;
  float: left;
  font-family:sans-serif;
  font-weight:bold;
  overflow: hidden;
  position: absolute;
  text-align: left;
  word-wrap: break-word;
}

/* Sponsored posts */
.nrelate_tiles .nr_sponsored_wrap {
  display:block;
  height:18px;
  left: 0;
  overflow: hidden;
  position: absolute;
}
.nrelate_tiles  a.nr_panel:hover .nr_sponsored_wrap {
  left: 0;
}

.nr_source {
  font-size: 11px !important;
  font-style: italic;
}

/* settings for each thumbnail size supported in plugin */
.nrelate_tiles.nr_150 .nr_inner a { height: 150px !important; }
.nrelate_tiles.nr_150 .nr_panel { width: 150px; }
.nrelate_tiles.nr_150 .nr_panel .nr_sponsored_wrap { top:132px; width: 150px; }
.nrelate_tiles.nr_150 .nr_panel .nr_sponsored { left: 132px; }
.nrelate_tiles.nr_150 .nr_text { height: 142px; width: 142px; top: 0px;}
.nrelate_tiles.nr_150 .nr_panel:hover .nr_text { font-size: 19px; height:142px; width:142px;}

.nrelate_tiles.nr_175 .nr_inner a { height: 175px !important; }
.nrelate_tiles.nr_175 .nr_panel { width: 175px; }
.nrelate_tiles.nr_175 .nr_panel .nr_sponsored_wrap { top:157px; width: 175px; }
.nrelate_tiles.nr_175 .nr_panel .nr_sponsored { left: 157px; }
.nrelate_tiles.nr_175 .nr_text { height: 167px; width: 167px; top: 0px;}
.nrelate_tiles.nr_175 .nr_panel:hover .nr_text { font-size: 19px; height:167px; width:167px;}

.nrelate_tiles.nr_200 .nr_inner a { height: 200px !important; }
.nrelate_tiles.nr_200 .nr_panel { width: 200px; }
.nrelate_tiles.nr_200 .nr_panel .nr_sponsored_wrap { top:182px; width: 200px; }
.nrelate_tiles.nr_200 .nr_panel .nr_sponsored { left: 182px; }
.nrelate_tiles.nr_200 .nr_text { height: 192px; width: 192px; top: 0px;}
.nrelate_tiles.nr_200 .nr_panel:hover .nr_text { font-size: 19px; height:192px; width:192px;}