/**
 * nSquared css
 * for thumbnail option size 150
 */

.nrelate_nsquared .nr_inner{
	width: 100%;
}
.nrelate_nsquared .nr_inner a{
	height: 150px !important;
}
.nrelate_nsquared .nr_panel{
	width: 150px;}
.nrelate_nsquared .nr_panel .nr_sponsored_wrap{
	width : 150px;
	top:132px;
}
.nrelate_nsquared .nr_panel .nr_sponsored{
	left : 132px;
}
.nrelate_nsquared .nr_text{
	width: 142px;
	height: 142px;
} 
.nrelate_nsquared .nr_panel .nr_text {
	width:142px;
	height:38px;
}
.nrelate_nsquared .nr_panel:hover .nr_text {
	width: 142px;
	height: 142px; 
}