/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* dropdown menus */

.category a, .tag a{
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.label a{
  color: black;
}

/* modal */

.injected-frame {
  border: none;
  width: 100%;
  height: 595px;
}

.modaltitle{
  text-decoration: none;
  font-size: 16px;
}

.modal-body p{
  padding-right: 5px;
  margin: 0;
  word-wrap: break-word;
}

#modaltextdiv{
  float: left;
  width: 35%;
  height: 90%;
  position: absolute;  
}
#modaltext {
  height: 80%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: white;
  top: 0;
}
#fader {
  width: 100%;
  height: 200px;
  z-index: 9970;
  position: absolute;
  bottom: 0px;
  background: url("../img/bottom-fade.png") bottom center no-repeat;
  overflow: hidden;
}
#modalfooter{
  height: 10%;
  position: absolute;
  z-index: 9990;
  bottom: 25px;
}

.modal-body .image-preview{
  margin: 0 auto;
  text-align: center;
}
#modalpictures {
  width: 60%;
  height: 100%;
  float: right;
  z-index: 9989;
  text-align: center;
}
.modalimg{
  max-height: 98%;
  max-width: 100%;
  padding-bottom: 5px;
}

.clear{
  clear: both;
  text-align: center;
  display: block;
}

#nomorediv{
  text-align: center;
  display: none;
  margin-top: 20px;
}
/* reveal this! */
#nomore{
  display: inline-block;
  font-size: 1.3em;
  line-height: 0px;
  color: white;
  background-color: black;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: .5;
  padding: 25px;
  margin: 0 auto;
  width: auto;
  height: auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; /* future proofing */
  -khtml-border-radius: 15px; /* for old Konqueror browsers */
}
#nomore span{
  width: auto;
}
#noresults{
  display: none;
  text-align: center;
}

/* colorpicker */

.colorpicker_field input, textarea, select, .uneditable-input {
  width: 30px;
}
.colorpicker_field input:focus{
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.colorpicker_hex input{
  width: 30px;
}

.swatch{
  width: 67px;
  height: 18px;
}

/*pinit*/

.pinterest-button {
  position:relative; 
  width: 100%;
  clear: both;
  margin: 0;
}

.pin-it-button {
  display:block;
  width: 43px;
  height: 21px;
  background: url('//assets.pinterest.com/images/PinExt.png');
  z-index: 9800;
  bottom: 20px;
  right: 20px;
  position:absolute; 
}

.pinterest-button .pin-it-button {
  display:none;
}

.pinterest-button:hover .pin-it-button {
  display:block;
  text-decoration: none;
  border: 0;
  margin:
}

.pinterest-button img{
  vertical-align: baseline;
}

/*stretches out containing div*/

.container-fluid{
  padding: 0px;
}
.singular #content, 
.left-sidebar.singular #content{
  margin: 0px;
}
.singular .entry-header, 
.singular .entry-content, 
.singular footer.entry-meta, 
.singular #comments-title{
  width: 99%;
  margin: 5px auto;
}
.singular.page .hentry, 
.entry-content, .entry-summary{
  padding: 0px;
  width:100%;
  margin: 0px auto;
}
.entry-content, .entry-summary{
  margin: 0px auto;
}

/* spinit */

.spinner{
  margin-top: 30px;
  padding-bottom: 20px;
}