/* NSQUARED PLUGIN 
*/
.nrelate_nsquared {
	width:100%;
}
.nrelate_nsquared h3 {
	margin:0px !important;
}
.nrelate_nsquared a {
	text-decoration:none !important;
	color: #fff;
}
.nrelate_nsquared img {
	max-width:100%;
}
.nrelate_nsquared .nr_inner {
	clear:both;
	padding: 0px;
	margin: 0px auto;
}
.nrelate_nsquared .nr_inner ul {
	margin-bottom:0 !important;
}
.nrelate_nsquared .nr_panel .nr_text {
	line-height: 130%;
	padding: 4px;
}
.nrelate_nsquared .nr_panel {
	float:left;
	background:none;
	border: 0px;
	margin: 0px;
	padding: 10px;
	display:block;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
.nrelate_nsquared .nr_panel:hover {
	background:transparent;
	border:0px;
	margin:0px;
	padding:10px;
	text-decoration:none;
}
.nrelate_nsquared .nr_title {
	float:left;
	font-size:20px;
	margin-top:0;
	margin-bottom:5px;
}
.nrelate_nsquared .nr_img_div {
	display:block;
	line-height:0;
	position:relative;
	background: transparent;
	background-color:transparent;
	border: 0px;
}
.nrelate_nsquared .nr_img {
	border: none;
	display:block;
	margin-left:auto !important;
	margin-right:auto !important;
	padding: 0px;
	background:transparent;
	border-top: 0px;
	outline: 0px;
	width:auto !important;
	z-index:auto !important;
	visibility:visible !important;
}
.nrelate_nsquared .nr_img_div img {
	border: 0px;
	margin:0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-khtml-box-shadow: none !important;
	box-shadow: none !important;
}

.nrelate_nsquared .nr_excerpt {
    font-size:11px;
    line-height: 108%;
    font-weight: normal;
}
.nrelate_nsquared .nr_text {
	display: block;
	overflow: hidden;
	word-wrap:break-word;
	clear:left;
	float:left;
	font-family:sans-serif;
	font-weight:bold;
	text-align:left;
	display: block;

	position:absolute;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0) transparent;
	/* RGBa */
	background: rgba(0, 0, 0, 0.75);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)";
}

.nrelate_nsquared .nr_post_title,
.nrelate_nsquared .nr_source,
.nrelate_nsquared .nr_excerpt {
	display:block;
}
.nrelate_nsquared .nr_panel:hover .nr_text {
	-webkit-transition: all 0.2s linear .3s; 
	-moz-transition: all 0.2s linear .3s; 
	-o-transition: all 0.2s linear .3s;
	-ms-transition: all 0.2s linear .3s;
	transition: all 0.2s linear .3s;

}


/* Sponsored posts */
.nrelate_nsquared .nr_sponsored_wrap {
	display:block;
	height:18px;
	position:absolute;
	left:0px;
	overflow:hidden;
}
.nrelate_nsquared  a.nr_panel:hover .nr_sponsored_wrap{
	left:0px;
}
.nrelate_nsquared .nr_source {
	font-size: 11px !important;
	font-style: italic;
}

