/* nSquared CSS 
created by Jane Kim for nRelate 2012
*/

/* Menu bar  */

.menu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0 0 .5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding: 0 .3em 0 0;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Toolbar */

.category a,
.tag a {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.label a {
  color: #000;
}

.swatch {
  height: 18px;
  width: 67px;
}

/* Colorpicker fixes */

.colorpicker_field input,
textarea,
select,
.uneditable-input {
  width: 30px;
}
.colorpicker_field input:focus{
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.colorpicker_hex input{
  width: 30px;
}

/* nSquared Container */

.container-fluid {
  padding: 0;
}
.singular #content, 
.left-sidebar.singular #content {
  margin: 0;
}

.singular .entry-header, 
.singular .entry-content, 
.singular footer.entry-meta,
.singular #comments-title {
  margin: 5px auto;
  width: 99%;
}

.singular.page .hentry,
.entry-content, .entry-summary {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* Modal */

.modal-title {
  font-size: 16px;
  text-decoration: none;
}

.modal-body p {
  padding: 0 5px 0 0;
  margin: 0;
  word-wrap: break-word;
}

#modal-text-div {
  float: left;
  height: 90%;
  width: 35%;
  position: absolute;  
}

#modal-text {
  background-color: #fff;
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

#fader {
  background: url(../img/bottom-fade.png) bottom center no-repeat;
  bottom: 0;
  height: 200px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 9970;
}

#modal-footer {
  bottom: 25px;
  height: 10%;
  position: absolute;
  z-index: 9990;
}

.modal-body .image-preview {
  margin: 0 auto;
  text-align: center;
}

#modal-pics {
  float: right;
  height: 100%;
  width: 60%;
  text-align: center;
  z-index: 9989;
}

#modal-pics img {
  max-height: 98%;
  max-width: 100%;
  padding: 0 0 5px 0;
}

/* Pin It button */

.pinterest-button {
  clear: both;
  margin: 0;
  position: relative; 
  width: 100%;
}

.pin-it-button {
  background: url(//assets.pinterest.com/images/PinExt.png);
  bottom: 20px;
  right: 20px;
  display: block;
  height: 21px;
  width: 43px;
  position: absolute; 
  z-index: 9800;
}

.pinterest-button .pin-it-button {
  display: none;
}

.pinterest-button:hover .pin-it-button {
  display:block;
  text-decoration: none;
  border: 0;
  margin: 0;
}

.pinterest-button img{
  vertical-align: baseline;
}

/* End of content */
#spinner-container{
  text-align: center;
}

#spinner {
  margin: 30px auto;
  padding: 0 0 20px 0;
  width: 0px;
}

.clear {
  clear: both;
  display: block;
  text-align: center;
}

#nomorediv {
  display: none;
  margin-top: 20px;
  text-align: center;
}

#nomore {
  background-color: #000;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: .5;
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  height: auto;
  width: auto;
  line-height: 1em;
  margin: 0 auto;
  padding: 25px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; /* future proofing */
}

#nomore span {
  width: auto;
}

#noresults {
  display: none;
  text-align: center;
}

.injected-frame { /* deprecated - used for iframe in modal */ 
  border: none;
  width: 100%;
  height: 595px;
}

