/* Layout ===============> */
.nrelate_dhot .nr_panel {
	display:block;
	float:left;
	cursor:pointer;
	padding:6px 4px;
	border:none;
	margin:1px 0px 3px 0px;
}
.nrelate_dhot .nr_panel:hover{
	border:none;
}
.nrelate_dhot .nr_img_div {
	display:block;
	margin:auto;
	position:relative;
}
.nrelate_dhot .nr_img{
	margin:0; padding:0; border: 0; outline:0; max-width:100%;
	padding:2px;
	border-width:1px;
	border-style:solid;
}
.nrelate_dhot .nr_text{
	padding:0;	
	display:block;
	margin:3px auto 0;
	word-wrap:break-word;
	text-align:left;
}
.nrelate_dhot .nr_sponsored_wrap{
	left:3px;
}
.nrelate_dhot .nr_excerpt{
	display:block;
}
.nrelate_dhot .nr_panel,
.nrelate_dhot .nr_panel:link,
.nrelate_dhot .nr_panel:visited,
.nrelate_dhot .nr_panel:active{
	border-top:none;
	border-bottom:none;
	border-right:none;
}
.nrelate_dhot .nr_post_title,
.nrelate_dhot .nr_source,
.nrelate_dhot .nr_excerpt{
	display:block;
}
.nrelate_dhot.nr_80  .nr_panel{ width : 90px; }
.nrelate_dhot.nr_80  .nr_sponsored_wrap{ width : 80px; top : 65px; }
.nrelate_dhot.nr_80  .nr_sponsored{ left : 62px; }
.nrelate_dhot.nr_80  .nr_img_div{ width:86px; height:86px; }
.nrelate_dhot.nr_80  .nr_text{ width:80px; }

.nrelate_dhot.nr_90 .nr_panel{ width : 100px; }
.nrelate_dhot.nr_90 .nr_sponsored_wrap{ width : 90px; top : 75px; }
.nrelate_dhot.nr_90 .nr_sponsored{ left : 72px; }
.nrelate_dhot.nr_90 .nr_img_div{ width:96px; height:96px; }
.nrelate_dhot.nr_90 .nr_text{ width:90px; }

.nrelate_dhot.nr_100 .nr_panel{ width : 110px; }
.nrelate_dhot.nr_100 .nr_sponsored_wrap{ width : 100px; top : 85px; }
.nrelate_dhot.nr_100 .nr_sponsored{ left : 82px; }
.nrelate_dhot.nr_100 .nr_img_div{ width:106px; height:106px; }
.nrelate_dhot.nr_100 .nr_text{ width:100px; }

.nrelate_dhot.nr_110 .nr_panel,
.nrelate_dhot.nr_ .nr_panel{ width: 120px; }
.nrelate_dhot.nr_110 .nr_sponsored_wrap,
.nrelate_dhot.nr_ .nr_sponsored_wrap{ width:110px; top : 95px; }
.nrelate_dhot.nr_110 .nr_sponsored,
.nrelate_dhot.nr_ .nr_sponsored{ left : 92px; }
.nrelate_dhot.nr_110 .nr_img_div,
.nrelate_dhot.nr_ .nr_img_div{ width:116px; height:116px; }
.nrelate_dhot.nr_110 .nr_text,
.nrelate_dhot.nr_ .nr_text{ width:116px; }

.nrelate_dhot.nr_120 .nr_panel{ width : 130px; }
.nrelate_dhot.nr_120 .nr_sponsored_wrap{ width : 120px; top : 105px; }
.nrelate_dhot.nr_120 .nr_sponsored{ left : 102px; }
.nrelate_dhot.nr_120 .nr_img_div{ width:126px; height:126px; }
.nrelate_dhot.nr_120 .nr_text{ width:126px; }

.nrelate_dhot.nr_130 .nr_panel{ width : 140px; }
.nrelate_dhot.nr_130 .nr_sponsored_wrap{ width : 130px; top : 115px; }
.nrelate_dhot.nr_130 .nr_sponsored{ left : 112px; }
.nrelate_dhot.nr_130 .nr_img_div{ width:136px; height:136px; }
.nrelate_dhot.nr_130 .nr_text{ width:130px; }

.nrelate_dhot.nr_140  .nr_panel{ width : 150px; }
.nrelate_dhot.nr_140  .nr_sponsored_wrap{ width : 140px; top : 125px; }
.nrelate_dhot.nr_140  .nr_sponsored{ left : 122px; }
.nrelate_dhot.nr_140  .nr_img_div{ width:146px; height:146px; }
.nrelate_dhot.nr_140  .nr_text{ width:140px; }

.nrelate_dhot.nr_150 .nr_panel{ width : 160px; }
.nrelate_dhot.nr_150 .nr_sponsored_wrap{ width : 150px; top:135px; }
.nrelate_dhot.nr_150 .nr_sponsored{ left : 132px; }
.nrelate_dhot.nr_150 .nr_img_div{ width:156px; height:156px; }
.nrelate_dhot.nr_150 .nr_text{ width:150px; }
/* <=============== Layout  */

/* Format ================> */
.nrelate_dhot .nr_panel,
.nrelate_dhot .nr_panel:link,
.nrelate_dhot .nr_panel:visited,
.nrelate_dhot .nr_panel:active{
	text-decoration:none;
}
.nrelate_dhot .nr_panel,
.nrelate_dhot .nr_panel:link,
.nrelate_dhot .nr_panel:visited,
.nrelate_dhot .nr_panel:active{
	cursor:pointer;
	line-height:1.4;
	border-left:1px solid #bfbfc1;
}
.nrelate_dhot .nr_panel:hover{
	background-color:#F2F2F5;
	border-left:1px solid #bfbfc1;
	color:#000;
}
.nrelate_dhot .nr_first_col,
.nrelate_dhot .nr_first_col:link,
.nrelate_dhot .nr_first_col:visited,
.nrelate_dhot .nr_first_col:active,
.nrelate_dhot .nr_first_col:hover{
	border:none;
}
.nrelate_dhot .nr_img_div{
	line-height:0;
}
.nrelate_dhot .nr_text{
	font-size:80%;
	font-weight:normal;
}
.nrelate_dhot .nr_img{
	border-color:#555555;	
}
.nrelate_dhot .nr_excerpt{
	text-transform:none;
}
/* <================ Format */
