/* Layout ===============> */
.nrelate_bty .nr_panel {
	display:block;
	float:left;
	position:relative;
	cursor:pointer;
	padding:4px 2px;
	margin:1px 5px 3px 1px;
}
.nrelate_bty .nr_img_div {
	display:block;
	margin:auto;
	position:relative;
}
.nrelate_bty .nr_img{
	margin:0; padding:0; border: 0; outline:0; max-width:100%;
}
.nrelate_bty .nr_text{
	display:block;
	margin-top:8px;
	word-wrap:break-word;
}
.nrelate_bty .nr_sponsored_wrap{
	left:0px;
}
.nrelate_bty .nr_excerpt{
	display:block;
}
.nrelate_bty .nr_post_title,
.nrelate_bty .nr_source,
.nrelate_bty .nr_excerpt{
	display:block;
}

.nrelate_bty .nr_panel,
.nrelate_bty .nr_panel:link,
.nrelate_bty .nr_panel:visited,
.nrelate_bty .nr_panel:active{
	border:none;
}

.nrelate_bty.nr_80  .nr_panel{ width : 84px; }
.nrelate_bty.nr_80  .nr_sponsored_wrap{ width : 80px; top : 62px; }
.nrelate_bty.nr_80  .nr_sponsored{ left : 62px; }
.nrelate_bty.nr_80  .nr_img_div{ width:80px !important; height:80px !important; }

.nrelate_bty.nr_90 .nr_panel{ width : 94px; }
.nrelate_bty.nr_90 .nr_sponsored_wrap{ width : 90px; top : 72px; }
.nrelate_bty.nr_90 .nr_sponsored{ left : 72px; }
.nrelate_bty.nr_90 .nr_img_div{ width:90px !important; height:90px !important; }

.nrelate_bty.nr_100  .nr_panel{ width : 104px; }
.nrelate_bty.nr_100  .nr_sponsored_wrap{ width : 100px; top : 82px; }
.nrelate_bty.nr_100  .nr_sponsored{ left : 82px; }
.nrelate_bty.nr_100  .nr_img_div{ width:100px !important; height:100px !important; }

.nrelate_bty.nr_110  .nr_panel,
.nrelate_bty.nr_ .nr_panel{ width: 114px; }
.nrelate_bty.nr_110  .nr_sponsored_wrap,
.nrelate_bty.nr_ .nr_sponsored_wrap{ width:110px; top : 92px; }
.nrelate_bty.nr_110  .nr_sponsored,
.nrelate_bty.nr_ .nr_sponsored{ left : 92px; }
.nrelate_bty.nr_110  .nr_img_div,
.nrelate_bty.nr_ .nr_img_div{ width:110px !important; height:110px !important; }

.nrelate_bty.nr_120  .nr_panel{ width : 124px; }
.nrelate_bty.nr_120  .nr_sponsored_wrap{ width : 120px; top : 102px; }
.nrelate_bty.nr_120  .nr_sponsored{ left : 102px; }
.nrelate_bty.nr_120  .nr_img_div{ width:120px !important; height:120px !important; }

.nrelate_bty.nr_130  .nr_panel{ width : 134px; }
.nrelate_bty.nr_130  .nr_sponsored_wrap{ width : 130px; top : 112px; }
.nrelate_bty.nr_130  .nr_sponsored{ left : 112px; }
.nrelate_bty.nr_130  .nr_img_div{ width:130px !important; height:130px !important; }

.nrelate_bty.nr_140 .nr_panel{ width : 144px; }
.nrelate_bty.nr_140 .nr_sponsored_wrap{ width : 140px; top : 122px; }
.nrelate_bty.nr_140 .nr_sponsored{ left : 122px; }
 .nrelate_bty.nr_140 .nr_img_div{ width:140px !important; height:140px !important; }

.nrelate_bty.nr_150 .nr_panel{ width : 154px; }
.nrelate_bty.nr_150 .nr_sponsored_wrap{ width : 150px; top:132px; }
.nrelate_bty.nr_150 .nr_sponsored{ left : 132px; }
.nrelate_bty.nr_150 .nr_img_div{ width:150px !important; height:150px !important; }
/* <=============== Layout  */

/* Format ================> */
.nrelate_bty .nr_panel,
.nrelate_bty .nr_panel:link,
.nrelate_bty .nr_panel:visited,
.nrelate_bty .nr_panel:active{
	text-decoration:none;
	color:inherit;
}
.nrelate_bty .nr_panel {
	cursor:pointer;
	line-height:1.4;
}
.nrelate_bty .nr_img_div{
	line-height:0;
}
.nrelate_bty .nr_text{
	text-align:center;
	font-weight:bold;
	font-size:80%;
}
.nrelate_bty .nr_source{
	font-weight:normal;
}
.nrelate_bty .nr_excerpt{
	font-weight:normal;
}
/* <================ Format */
