<script type="text/javascript">
 
</script>
<div class="nav" ng-include="toolbarUrl">
</div>
<div class="nrelate nrelate_nsquared">
    <div class="nr_inner">
        <a class="nr_panel nr_rc_link nr_link nr_internal" ng-repeat="square in content"
        data-toggle="modal" href="{{'#modal' + $index}}" data-index={{$index}}
        ng-click="console.log('modal clicked');">
      <span class="nr_img_div">
        <img ng-src="{{square.img}}" class="nr_img">
      </span>
      <span class="nr_text">
        <span class="nr_post_title">
          {{square.title}}
        </span>
      </span>
    </a>
    </div>
</div>
<div class="modal hide fade" id="{{'modal' + $index}}" ng-repeat="square in content"
modal-inject>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            ×
        </button>
        <a href="{{square.link}}"><h3>{{square.title}}</h3></a>
    </div>
    <div class="modal-body inject-target">
    </div>
</div>
<div class="clear">
</div>
<div id="nomorediv">
    <div id="nomore">
        <span>
            End of content
        </span>
    </div>
</div>
<div id="noresults">
    <span>
        No results
    </span>
</div>
<span scroller class="scroller">
</span>