<div class="nrelate nrelate_related nrelate_tre nr_1col nr_150">
  <div class="nr_inner">
    <a class="nr_panel nr_rc_link nr_link nr_internal nr_row_1 nr_col_1 nr_odd_row nr_odd_col nr_first_col nr_first_row" ng-href="{{square.link}}" ng-repeat="square in content" ng-controller="SquareCtrl">
      <span class="nr_img_div">
        <img ng-src="{{square.img}}" class="nr_img">
      </span>
      <span class="nr_text">
        <span class="nr_post_title">
          {{square.title}}
        </span>
      </span>
    </a>
  </div>
</div>