<div class="toolbar btn-toolbar" ng-controller="NavCtrl">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Sort
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Relevance</a>
        <a href="#">Popularity</a>
        <a href="#">Date</a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Color
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Red</a></li>
      <li><a href="#">Orange</a></li>
      <li><a href="#">Yellow</a></li>
      <li><a href="#">Green</a></li>
      <li><a href="#">Blue</a></li>
      <li><a href="#">Purple</a></li>
      <li><a href="#">Black</a></li>
      <li><a href="#">White</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Categories
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="category" ng-repeat="category in categories"><a href="#">{{category}}</a></li>
    </ul>
  </div>
  <form class="form-search">
    <input type="text" class="search-query span3" placeholder="Search">
  </form>
</div>
