<div class="toolbar btn-toolbar" ng-controller="NavCtrl">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Sort
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Relevance</a>
        <a href="#">Popularity</a>
        <a href="#">Date</a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Categories
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="category" ng-repeat="category in categories">
        <a href ng-click="$emit('categoryFilter', category.name, category.term_id)">{{category.name}}</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Tags
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="category" ng-repeat="tag in tags">
        <a href ng-click="$emit('tagFilter', tag.name, tag.term_id)">{{tag.name}}</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <div class="colorSelector">
      <div class="selectorBackground" style="background-color: #EFEFEF"></div>
    </div>
  </div>
  
  <div class="btn-group">
    <form class="form-search" ng-submit="$emit('search', query)">
      <input type="text" class="search-query bootstrap" placeholder="Search" ng-model="query">
    </form>
  </div>
  <div class="sort-types">
    <span class="label label-info" ng-show="category.category">
      {{category.category}}
      <a ng-click="$emit('categoryFilter', null)">x</a>
    </span>
    <span class="label label-info" ng-show="query">
      <i class="icon-search icon-white"></i>
      {{query}}
      <a class="label" ng-click="query = null; $emit('search', query);">x</a>
    </span>
  </div>
</div>
